# Schedule Automation

This system allows for users to::::

In [32]:
import pandas as pd
import sqlite3 as sql

### Used sample data to showcase project and create the database

- database files should be stored in the current working directory

In [33]:
# Sample Data
sample_data = {
    'employee_names': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Igor', 'Jill', 'Kyle', 'Linda'],
    'date_hired': [
        '01/01/2020', '02/01/2020', '03/01/2020', '04/01/2020', 
        '05/01/2020', '06/01/2020', '07/01/2020', '08/01/2020', 
        '09/01/2020', '10/01/2020', '11/01/2020', '12/01/2020'
    ],
    'availability': [
        'weekdays', 'weekdays', 'weekdays', 'weekdays',
        'weekdays', 'weekdays', 'weekdays', 'weekdays',
        'weekdays', 'weekdays', 'weekdays', 'weekdays'
    ],
    'shift_type': [
        'day', 'day', 'day', 'swing', 'swing', 'swing', 
        'day', 'day', 'day', 'swing', 'swing', 'swing'
    ]
}
# Create DataFrame
df = pd.DataFrame(sample_data)

# Create Database file
conn = sql.connect('employees.db')
df.to_sql('employees', conn, if_exists='replace', index=False)
conn.close()

### Creating 2 functions for fixing formatting and the other for sorting data

#### Important Notes: 
- dates should be stored as YYYY-MM-DD in SQL databases

- If you don't want to use SQL commands to navigate data, use python's built in pandas functions after creating the DataFrame
- python's sorting function should look like --> sorted_df = df.sort_values(by='date_hired')
- It's easier to query directly when calling the database table that you are reading from

In [34]:
def fix_date_format():

    # Connect to the SQLite database
    # Read data from the database into a DataFrame
    # Change date_hired format to 'YYYY-MM-DD' format
    # Close the database connection

    conn = sql.connect('employees.db')
    df = pd.read_sql("SELECT * FROM employees", conn)
    df['date_hired'] = pd.to_datetime(df['date_hired'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')
    conn.close()

In [35]:
def get_sorted_data():

    # Connect to the SQLite database
    # Query to get all data sorted by date_hired
    # Read data from the database into a DataFrame
    # Close the database connection
    # Return the dataframe sorted
    
    conn = sql.connect('employees.db')
    df = pd.read_sql("SELECT * FROM employees ORDER BY date_hired", conn)
    df['date_hired'] = pd.to_datetime(df['date_hired'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')
    sorted_df = df.sort_values(by='date_hired')
    conn.close()
    return sorted_df

In [36]:
# Get the sorted data and print:
sorted_data = get_sorted_data()
sorted_data.head(5)

  employee_names  date_hired availability shift_type
0          Alice  2020-01-01     weekdays        day
1            Bob  2020-02-01     weekdays        day
2        Charlie  2020-03-01     weekdays        day
3          David  2020-04-01     weekdays      swing
4            Eva  2020-05-01     weekdays      swing

### Create dataframes for each shift type

- used for storing each schedule whether that be day, swing, etc.

In [37]:
# see number of dataframes needed to create
sorted_data.nunique()

employee_names    12
date_hired        12
availability       1
shift_type         2
dtype: int64

In [ ]:
# Assuming sorted_data is already loaded
unique_shift_types = sorted_data['shift_type'].unique()

# Creating the two dataframes
df1 = sorted_data[sorted_data['shift_type'] == unique_shift_types[0]]
df2 = sorted_data[sorted_data['shift_type'] == unique_shift_types[1]]